# Dependency directory
node_modules

# build folder
dist
public_html

# config file
*.env
web.config
*.yaml
*.pem
for-azure.*
lhgengage.*

# test db
dev.sqlite3

#VS Code folder
.vscode

# zip files
*.zip
*.rar