<nav class="navbar navbar-expand-lg navbar-dark bg-brand dashboard-header">
    <div class="container">
        <a class="navbar-brand" href="/pages/dashboard.html">LHGengage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Hi,
                        <span id='dis-name'></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" id="profileLink" href="/pages/profile.html">View Profile</a>
                        <a class="dropdown-item" id="editProfileLink" href="/pages/settings.html">Edit Profile</a>
                        <!-- Super Admins Only. 
                        NB: They're marked with class: saOnly and style: display: none. Follow the convention when adding more links-->
                        <div class="dropdown-divider saOnly" style="display: none;"></div>
                        <a class="dropdown-item saOnly" id="manageAdmin" href="/pages/superadmin/index.html" style="display: none;">Super admin tasks</a>
                        <!-- End Super Admins Only. -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void();" onclick="logout(event);">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    (function () {
        let userInfo = localStorage.getItem('userInfo');
        if (userInfo) {
            try {
                userInfo = JSON.parse(userInfo);
                $('#dis-name').html(`${userInfo.f} ${userInfo.l}`);
                if (+userInfo.r === UserRoleOptions.SuperAdmin) {
                    $('.saOnly').show();
                }
            } catch (e) {
                console.log("Error loading navbar: ");
                console.log(e);
                logout();
            }
        } else {
            logout();
        }
    })();
</script>